#top{
  background-color: white;
}

.row{
  background-color: rgb(0, 0, 0);
}

.col-md-2{
  background-color: rgb(126, 126, 126);
}

.col-md-10{
  background-color: coral;
}

#book{
  display: block;
  margin: auto;
}

#leftbar{
  text-align: left;
  display: inline-block;
  color: white;
}

#title{
  text-align: center;
}

body{
  background-color: black;
}

.rtext{
  color: white;
}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}

#linecontrol{
  align-content: center;
  margin: auto;
  padding: auto;
  background-color: transparent;
}

#headlink{
  display: inline-block;
}

.bodyimg{
  float: left;
  display: inline-block;
  max-width: 50%;
  max-height: 100px;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
}
